<template>
  <div class="card-body text-center">
    <h5 class="card-title">Success!</h5>
    <p class="card-text">Student data has been {{ Judul }}!</p>
    <!-- <router-link to="/" class="btn btn-primary text-white">Back</router-link> -->
    <router-link to="/" v-if="Judul === 'inputted'">
      <button class="btn btn-primary text-white">Back</button>
    </router-link>
    <router-link to="/" v-else-if="Judul === 'updated'">
      <button class="btn btn-primary text-white">Back</button>
    </router-link>
    <button class="btn btn-primary" @click="RefreshFunc" v-else>Refresh</button>
  </div>
</template>

<script>
export default {
  name: "successComponent",
  data() {
    return {
      Judul: null,
    };
  },
  methods: {
    ubahJudul() {
      let route = this.$route.fullPath;
      if (route === "/add") {
        this.Judul = "inputted";
      } else if (route === "/") {
        this.Judul = "deleted";
      } else {
        this.Judul = "updated";
      }
    },

    RefreshFunc() {
      location.reload();
    },
  },
  mounted() {
    this.ubahJudul();
  },
};
</script>

<style scoped>
.border-color-pink {
  border: solid 2px #f9cada;
}
.bg-color-pink {
  background-color: #f9cada;
}
</style>
